

  df-messenger {
   --df-messenger-bot-message: #93c5fd;
   --df-messenger-button-titlebar-color: #38bdf8;
   --df-messenger-chat-background-color: #ffffff;
   --df-messenger-font-color: rgb(0, 0, 0);
   --df-messenger-send-icon: #93c5fd;
   --df-messenger-user-message: #93c5fd;
  }
